body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 250, 233);
}
.countainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}
.name div div {
    display: inline-block;
    margin-bottom: 45px;
    padding: 5px 25px;
    border-radius: 2px;
    box-sizing: border-box;
}
.name {
    overflow: hidden;
    height: 50px;
}
.name div:nth-child(1) div {
    background-color: cornflowerblue;
}
.name div:nth-child(2) div {
    background-color: rgb(63, 245, 184);
}
.name div:nth-child(3) div {
    background-color: rgb(217, 255, 0);
}
.name div:nth-child(1) {
    animation: animate 5s linear infinite;
}
@keyframes animate { 
    0% { margin-top: -270px;}
    5% { margin-top: -180px;}
    33% { margin-top: -180px;}
    38% { margin-top: -90px;}
    66% { margin-top: -90px;}
    71% { margin-top: 0px;}
    99.99% { margin-top: 0px;}
    100% { margin-top: -270px;}
}